@model Bangazon.Models.ProductTypesViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<h2>Product Types</h2>


<table class="table">
   
    
    <tbody>
        
            @foreach (var key in Model.GroupedProducts)
            {

            <tr>

                <td>
                    <a asp-action="Details" asp-route-id="@key.TypeId">@key.TypeName</a>
                </td>
                <td>
                    @key.ProductCount
                </td>
            </tr>
            <tr>
                @foreach (var item in key.Products)
                {
                    <td>
                        @item.Title
                    </td>

                }
            </tr>
            }
        
    </tbody>
</table>